In [248]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
import re

In [249]:
from fastai.tabular import add_datepart

In [250]:
df = pd.read_csv('../HackerEarthPredictGiftPrices/dataset/train.csv')

In [251]:
df.head()

,gift_id,gift_type,gift_category,gift_cluster,instock_date,stock_update_date,lsg_1,lsg_2,lsg_3,lsg_4,lsg_5,lsg_6,uk_date1,uk_date2,is_discounted,volumes,price
0,GF_11156,61,534,3942,2014-02-21 05:07:06.000,2016-11-09 15:49:51.000,3377,5221,504,1912,10,554,2014-02-24 08:07:06.000,2014-02-24 07:07:06.000,0,NaN,175.54
1,GF_11157,61,534,3942,2014-02-21 06:07:06.000,2016-11-11 13:49:51.000,3377,5221,504,1912,10,554,2014-02-22 07:07:06.000,2014-02-24 06:07:06.000,1,NaN,95.80
2,GF_15689,584,262,0,2014-02-21 09:30:21.000,2016-03-24 14:46:18.000,5290,1579,3203,1912,9,1578,2016-01-26 00:04:45.000,2016-03-18 02:00:00.000,1,NaN,107.35
3,GF_11155,61,534,3942,2014-02-22 05:07:06.000,2016-11-10 16:49:51.000,3377,5221,504,1912,10,554,2016-11-07 13:49:51.000,2016-11-06 04:00:00.000,0,NaN,172.90
4,GF_11158,61,534,3942,2014-02-22 07:07:06.000,2016-11-10 13:49:51.000,3377,5221,504,1912,9,554,2016-11-07 15:49:51.000,2016-11-06 01:00:00.000,1,NaN,77.72

In [252]:
df.describe()

,gift_type,gift_category,gift_cluster,lsg_1,lsg_2,lsg_3,lsg_4,lsg_5,lsg_6,is_discounted,volumes,price
count,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,20279.000000,7323.000000,20279.000000
mean,739.554662,394.171557,3303.358548,5314.595345,4187.653928,4866.945510,1679.152226,8.652695,1265.898171,0.229646,15.515363,143.404411
std,389.216989,235.077769,2541.082549,2703.317282,2274.875522,2713.856392,485.699119,2.349388,697.838495,0.420616,7.579669,267.281159
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,5.000000,0.010000
25%,403.000000,188.000000,587.000000,3311.000000,2251.000000,2548.000000,1801.000000,9.000000,577.500000,0.000000,9.000000,45.645000
50%,825.000000,433.000000,3231.000000,5520.000000,4246.000000,4839.000000,1912.000000,9.000000,1616.000000,0.000000,13.000000,75.600000
75%,1032.000000,534.000000,5787.000000,7535.000000,6504.500000,7387.000000,1912.000000,10.000000,1899.000000,0.000000,24.000000,126.845000
max,1360.000000,893.000000,7567.000000,9979.000000,7604.000000,9493.000000,2056.000000,10.000000,2065.000000,1.000000,29.000000,7010.270000

In [253]:
def missingcheck(data):
    total = data.isnull().sum().sort_values(ascending=False)
    percent_1 = data.isnull().sum()/data.isnull().count()*100
    percent_2 = (np.round(percent_1, 1)).sort_values(ascending=False)
    missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%']) #ptr
    return missing_data

In [254]:
missingcheck(df)

                   Total     %
volumes            12956  63.9
price                  0   0.0
lsg_2                  0   0.0
gift_type              0   0.0
gift_category          0   0.0
gift_cluster           0   0.0
instock_date           0   0.0
stock_update_date      0   0.0
lsg_1                  0   0.0
lsg_3                  0   0.0
lsg_4                  0   0.0
lsg_5                  0   0.0
lsg_6                  0   0.0
uk_date1               0   0.0
uk_date2               0   0.0
is_discounted          0   0.0
gift_id                0   0.0

In [255]:
dff = df.drop( ['volumes'],axis =1)

In [256]:
dff['instock_date'] = pd.to_datetime(dff['instock_date'] ,errors='coerce')
dff['justinstock_date'] = dff['instock_date'].dt.date

In [257]:
dff['stock_update_date'] = pd.to_datetime(dff['stock_update_date'] ,errors='coerce')
dff['juststock_update_date'] = dff['stock_update_date'].dt.date

In [258]:
dff['uk_date1'] = pd.to_datetime(dff['uk_date1'] ,errors='coerce')
dff['justuk_date1'] = dff['uk_date1'].dt.date

In [259]:
dff['uk_date2'] = pd.to_datetime(dff['uk_date2'] ,errors='coerce')
dff['justuk_date2'] = dff['uk_date2'].dt.date

In [260]:
# no of days gift was in stock

In [261]:
dff['DaysStockUpdate'] = (dff['stock_update_date']- dff['instock_date']).dt.days

In [262]:
#no of days between order1 and order2

In [263]:
dff['buyer12diff'] = (dff['uk_date1']-dff['uk_date2']).dt.days
dff['buyer12diff'] = np.absolute(dff['buyer12diff'])

In [264]:
# at order1 time was gift in stock

In [265]:
dff['buy1buytime'] = (dff['uk_date1'] -dff['instock_date']).dt.days

In [266]:
dff['buy1buytime'].sort_values()

12967     -5
11146     -5
18180     -5
6231      -5
10812     -5
        ...
47       881
12       897
8        986
3        989
4        989
Name: buy1buytime, Length: 20279, dtype: int64

In [267]:
# order 2 in stock

In [268]:
dff['buy2buytime'] = (dff['uk_date2'] -dff['instock_date']).dt.days

In [269]:
dff['buy2buytime'].sort_values()

16939   -585
17729   -583
18807   -582
18470   -579
19393   -579
        ...
61       871
47       877
12       892
4        987
3        987
Name: buy2buytime, Length: 20279, dtype: int64

In [270]:
# stockupdate date differece

In [271]:
dff['stockupdatediff1'] = (dff['stock_update_date'] - dff['uk_date1']).dt.days

In [272]:
dff['stockupdatediff2'] = (dff['stock_update_date'] - dff['uk_date2']).dt.days

In [294]:
def add_datepart(df, fldname, drop=True):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    
#     for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
#             'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
    
    for n in ('Year', 'Month', 'Week', 'Day','Hour', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)

In [295]:
add_datepart(dff, 'instock_date',drop = False)

In [296]:
add_datepart(dff, 'stock_update_date',drop =False)

In [297]:
add_datepart(dff, 'uk_date1', drop=False)

In [298]:
add_datepart(dff, 'uk_date2', drop= False)

In [299]:
dff['instock_date'].max()

Timestamp('2016-11-12 13:48:30')

In [300]:
dff['stock_update_date'].max()

Timestamp('2017-04-21 01:49:50')

In [301]:
dff['uk_date2'].max()

Timestamp('2017-04-17 16:14:57.904000')

In [302]:
import holidays

In [303]:
### was it a holiday or not instockdate, stockupdateday,ukdate1,ukdate2
time = pd.DataFrame()

In [326]:
# start = dff['instock_date'].min()

# end = dff['stock_update_date'].max()

# time['date'] = pd.date_range(start,end)

In [327]:
# uk_holidays=[]
# for holiday in holidays.UK(years=[2014,2015,2016]).items():
#     uk_holidays.append(str(holiday[0]))

In [306]:
#uk_holidays

In [328]:
# dff['Isholidayinstock']= [ 1 if str(val).split()[0] in uk_holidays else 0 for val in dff['instock_date']]
# dff['Isholidaystockupdate']= [ 1 if str(val).split()[0] in uk_holidays else 0 for val in dff['stock_update_date']]
# dff['IsholidayUkdate1']= [ 1 if str(val).split()[0] in uk_holidays else 0 for val in dff['uk_date1']]
# dff['IsholidayUkdate2']= [ 1 if str(val).split()[0] in uk_holidays else 0 for val in dff['uk_date2']]

In [308]:
####### grace period dates ######

In [309]:
from datetime import datetime, timedelta

In [310]:
uk_graceholiday=[]
for holiday in holidays.UK(years=[2014,2015,2016]).items():
    uk_graceholiday.append(holiday[0])

In [311]:
graceondate=[]
for i in uk_graceholiday:
    twodayago = i - timedelta(days = 3)
    twodayafter = i + timedelta(days = 3)
    for date in pd.date_range(twodayago,twodayafter):
        graceondate.append((str(date).split()[0]))

In [312]:
uk_graceperiod = list(set(graceondate))

In [313]:
dff['Isholidayinstockgrceperiod']= [ 1 if str(val).split()[0] in uk_graceperiod else 0 for val in dff['instock_date']]
dff['Isholidaystock_update_dategrceperiod']= [ 1 if str(val).split()[0] in uk_graceperiod else 0 for val in dff['stock_update_date']]
dff['IsholidayUk_date1grceperiod']= [ 1 if str(val).split()[0] in uk_graceperiod else 0 for val in dff['uk_date1']]
dff['IsholidayUk_date2grceperiod']= [ 1 if str(val).split()[0] in uk_graceperiod else 0 for val in dff['uk_date2']]

In [341]:
dff['lsg_1','lsg_2']#,'lsg_3','lsg_4','lsg_5','lsg_6']

KeyError: ('lsg_1', 'lsg_2')

In [335]:
import random as rd
import matplotlib.pyplot as plt

In [336]:
from sklearn.cluster import KMeans

In [338]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_scaled = scaler.fit_transform(df['lsg_1','lsg_2','lsg_3','lsg_4','lsg_5','lsg_6'])

# statistics of scaled data
pd.DataFrame(data_scaled).describe()

KeyError: ('lsg_1', 'lsg_2', 'lsg_3', 'lsg_4', 'lsg_5', 'lsg_6')